
.photo {
  display: flex;
  flex-direction: column;
}

.main_carousel {
  border-radius: 12px;
  overflow: hidden;
  height: 85vh;
}

.carousel-container {
  height: 100%;
}

.gallery-container {
  height: 100%;
  width: auto;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  padding: 2rem;
}


.spotlight-container {
  border-radius: 12px;
  overflow: hidden;
}
